/* attempt to get youtube video as background */

body {
  /* width: 1080px; */
  height: 100%;
}

/* #video-back {
  width: 100%;
  height: 100%;
} */

#player {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
} */



#movie-title {
  position: relative;
  bottom: 100px;
  left: 100px;
}

#video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.row {
  display: block;
}