/* attempt to get youtube video as background */
*{
  font-family:  'Carter One', cursive;
  /* color: #b3b3b3; */
}

body {
  /* width: 1080px; */
  height: 100%;
  /* background-color: #1a1a1a; */
 background-color: #000000;
  color: #808080;
}

#player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 

/* #title {
  text-align: left;
  float: left;
  padding: 0;
} */

/* #title-text {
  float: left;
  padding: 0;
  margin-left: 110px;
} */

/* #release-date {
  float: left;
}

#runtime {
  float: left;
  margin-top: 22px;
} 

#overview {
  float: right;
  text-align: left;
} */

#learn-more-btn {
  text-align: center;
  background: grey;
  display: inline-block;
}

#savelist-streamingsites {
  clear: left;
}

.savelist {
  float: left;
  margin-left: 90px;
}

#book-btn-div {
  width: 100px;
  text-align: left;
  padding: 4px;
  /* margin-left: 20px; */
}

#add-fav-btn {
  width: 110px;
  text-align: center;
  font-size: 16px;
  padding: 0px 10px;
  margin: auto;
 
  /* position:fixed; */
  /* height: 59px; */
  /* margin-left: 124px;
  margin-top: 53px; */
  /* width: 149px; */
  /* margin-bottom: 10px; */

}

.streaming-site-logos {
  text-align: left;
  background: none;
  float: right;
  padding: 0;
  width: 100%;
}

#streaming-site {
  width: auto;
  height: 60px;
  background: white;
  margin-right: 20px;
  float: right;
}
/* 
#rated-ratings {
  float: left;
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px

} */

/* #rated {
  text-align: center;
  float: left;
  margin-right:10px;
}

#ratings {
  display: inline-block;
  text-align: left;
  margin-right: 20px;
} */

/* #genre {
  text-align: center;
  padding: 0;
  
  margin-left: 40px;


} */

/* #cast-crew {
  clear: left;
  text-align: center;
  margin-top: 40px;
}

#cast-crew-header {
  text-align: center;
  margin-left: 30px
} */

#info {
/*   overflow: hidden;
  
  
  height: 101px;
  
  text-align: center;
  width:  189px;
  margin-left: 310px; */
}
/* #cast {
  overflow: scroll;
  scrollbar-color: white;
  scrollbar-track-color: white;
  height: 200px;
  border: solid 2px grey;
  text-align: center;
  width: 700px;
  margin-left: 110px;
}

#cast>ul {
  list-style-type: square;
} */

#movie-title {
  position: relative;
  bottom: 100px;
  left: 100px;
}


#video-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .row {
  display: block;
} */

.upper-row {
  display: block;
}

/* #carousel-header {
  text-align: center;
  margin-top: 60px;
} */

.autoplay {
  float: left;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 40px;
}


#poster {
  width: 100%;
  
}

.poster-photo {
  width: auto;
  height: 230px;
  float: left;
  margin-left: 20px
}

#recommended-title {
  text-align: center;
  margin-right: 20px
}

.test-box {
  display: block;
  color: lightsteelblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
  line-height: 1.3em; 
  background-color: black;
  border: 1px solid lightslategray;
  border-radius: .25rem;
  margin-bottom: 8px;
  overflow: scroll;
}

#dtl-overview {
  height: 150px;
  overflow: scroll;
}



.checkbox {
  width: 25%;
}

.watch-list-item {
  width: 75%;
  float: right;
}

/* .movie-data{
  margin-left: 75px;
   
} */

/* .movie-data li h3 {
  font-size: 120%;
} */

#copyright {
  /* Positioning */
  /* position: fixed; */
  bottom: 0;
  color: #808080;
  text-align: center;
  padding: 0;
  clear: both;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  font-weight: 2;
  font-size: 0.8em;

  /* Box-model */
  width: 100%;
/*  height: 60px; */
  /* Visual */
  /* background-color: #666; */
}
/* #genre {
  margin-left: 30px;
} */
#runtime-text, #ratings-text, #rated, #genre-text {
/*   float: left;
  font-size: 1.15rem;
  margin-top: -18px;
  margin-left: 0px; */
}


.poster {
  width: 100%;
 }

 #poster-photo1, #poster-photo2, #poster-photo3,
 #poster-photo4, #poster-photo5, #poster-photo6,
 #poster-photo7, #poster-photo8, #poster-photo9,
 #poster-photo10
 {
  width: auto;
  height: 230px;
  float: none;
  margin-left: 20px
 }
 
 .slick-slider {
   margin-left: 355px;
 }

 #logo {
   margin-left: 580px;
   margin-right: 315px; 
   float: left;
   font-size: 45px;
   color: #4196be;
 }

 .nav-link {
   margin-top: 10px;
   color: #808080 !important;
   font-size: 30px;
 }

 .navbar {
  height: 80px;
  /* background-color: b3b3b3 !important; */
 }

 #nav-item-1{
   background-color: #b3b3b3;
 }

 /* #nav-black {
  background-color: black !important;

 } */

