
.search-result-actor {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 1.75px solid #333333;
}

.search-result-div {
    /* width: 98%; */
    border: 1.75px solid #333333;
    border-radius: .9em;
    /* margin-top: 10px; */
    /* margin-right: 0px;     */
}

.search-result-div {
    display: flex;
    /* justify-content: space-evenly; */
    margin-bottom: 15px;
}

#search-result-image {
    width: 220px;
    height: 260px;
    margin-right: 40px;
    margin-left: 170px;
    border-radius:12px;

}

.search-result-title {
    width: 600px;
}
#search-result-image:hover { 
    filter:blur(2px) brightness(60%);

}

#search-result-data {
    color: white;
    width: 415px;
    margin-top: 50px;
}

#search-result-data h3, .star-icon{
    margin-left: 10px; 
}

.star-icon {
    width: 30px;

}

#watch-list-btn {
    margin-top: 21px;
}

.navbar-brand img {
    margin-bottom: 20px;
}
  