/* --- STYLES FOR ALL PAGES --- */
* {
  font-family:  'Carter One', cursive;
  box-sizing: border-box;
}
body {
  /* Typography */
  background: none;
  margin: 0;
  padding: 0;
  
}

main {
  margin: 0 !important;
  padding: 0 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #808080;
  margin-top: 10px;
  margin-right: 20px;
}
.container{

width: 100%;
/* max-width: 960px; */
margin: 0 auto !important;
padding:0 !important;
clear:both;
/* background-color: #53524d; */
/* background-image: url(../images/background.jpg); */
text-align: center;

}
/* header*/
#masthead{
position: fixed;
z-index: 99;
width: 100%;
margin: 0 0 30px;
/* overflow: auto; */
color:white;
background: #1a1919;
/* border-bottom: 2px solid #cccccc; */

font-size: 28px;
}

.row {
  width: 100%;
  margin: auto;
  
 }

#nav-btn {
  float: right;
  color: white;
}

.col-4 {
  background-color: #0a0a08;
  color: white;
}
#logodiv {
  font-size: 48px;
  text-align: center;
  color: white;
}

html {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* create styles for use for all white main boxes */
.block {
  background-color:#1d1c1b;
  color: white;

 /* padding: 30px;*/
  margin-bottom: 30px;
}

.block-header {
  /* Typography */
  background-color: #1d1c1b;
  border-top: solid #1d1c1b 90px;
  color: #31708e;
  font-size: 38px;
  margin-top: 70px;      
  letter-spacing: 0.2em;
}

/* NAV START */
#logo {
  font-size: 288px;
  color: white;
  /* Typography */
  font-size: 45px;
  font-weight: bold;
  color: #4196be;

  /* Visual */
 
}
nav {
  padding:0 !important;
  margin: 0 !important;
  border: none !important;
  color: white;
}

/*.navbar {
  color: white;
  border: none !important;
  
}
*/
/* media query for nav background color change */
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #4aaaa5;
    color: white;
  }
}
/* END NAV */

.connect-header {
  /* Typography */
  font-size: 25px;
}

.connect-photo {
  /* Box-model */
  width: 55px;
  height: 55px;
}

#images {
  /* Box-model */
  padding-top: 15px;

  /* Typography */
  text-align: center;
}

#copyright {
  /* Positioning */
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  padding: 0;
  clear: both;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  font-weight: 10;
  font-size: 0.8em;

  /* Box-model */
  width: 100%;
/*  height: 60px; */
  /* Visual */
  /* background-color: #666; */
}

#about-image {
  /* Positioning */
  float: left;

  /* Box-model */
  width: 200px;
  margin: 0 20px 10px 0;
}

.form-control {
  /* give input boxes right angles */
  border-radius: 0;
  font-size: 2rem;
  /* keep from horizontally resizing text area */
  min-width: 100%;
  max-width: 100%;
  
  /* Change the place of submit button next to the search-box */
  float: left;
  margin-top: 5px;
  margin-left: 30px;
  height: 48px;
}

.submit-btn {
  font-size: 24px;
  font-weight: lighter;
  
  padding: 4px;
  margin-top: -12px;
  margin-bottom: 18px;
}

.submit-btn:hover {
  opacity: .7;
  
}


.trending-poster {
  /* float: left; */
  width: 20%;
  border-radius: 15px;
}

/* ---------------------------------------------------------------------- */

.trending-div{
  width:300px;
  height:auto;
  display:inline-block;
  position:relative;
  transition:.3s;
  margin:4px;
}

.trending-div img{
  width:100%;
  height:100%;
  transition:.3s;
  border-radius:4px;
}

.trending-div:hover img{
  filter:blur(2px) brightness(60%);
 /* box-shadow:0 0 16px cyan; */
 color:white;
}
 
.trending-div :not(img){
  position:absolute;
  z-index:1;
  top:30%;
  width:100%;
  text-align:center;
  color:#fff;
  opacity:0;
  transition:.3s;
}

.trending-div h3{
  top:50%
}

.trending-div:hover :not(img){
  opacity:1;
}


/*the center portion - the article section  */
.displayFlex{
  display: flex;
  justify-content: center;
}

#column1 {
  border: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color:white;
}

.nav-link:hover{
  border: 1px solid #808080;
  border-radius: 5px;
  padding: 0;
  color:#808080 !important;
}
/* ---------------------------------------------------------------------- */
/* Maybe we do not need this part  August 10, Merging Request*/
#myBtn {
  font-family:  'Carter One', cursive;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #31708e ;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #001f3f;
}
/* ---------------------------------------------------------- */

.search-result-div {
  display: flex;
  /* justify-content: space-evenly; */
  margin-bottom: 15px;
}

#search-result-image {
  width: 220px;
  height: 260px;
  margin-right: 40px;
  margin-left: 170px;
  border-radius:12px;
  
}

.search-result-title {
  width: 600px;
}
#search-result-image:hover { 
  filter:blur(2px) brightness(60%);
  
}

#search-result-data {
  color: white;
  width: 415px;
  margin-top: 50px;
}

#search-result-data h3, .star-icon{
  margin-left: 10px; 
}

.star-icon {
  width: 30px;
  
}

#watch-list-btn {
  margin-top: 21px;
}

.navbar-brand img {
  margin-bottom: 20px;
}

