/* css experimenting */

* {
  font-family:  'Carter One', cursive;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: #262626;
  color: #bfbfbf;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px;
}


.size1 {
  font-size: 24px;
}

caption { 
  caption-side: top;
  text-align: center;

}

table { 
  border-collapse: collapse;
  border-spacing: 0px; 
  width: 100%
}

table, th, td { 
  border: 1px solid gray; 
}

/* .rbox {
  /* background-color: black; */
  /* border: 1px, solid, white; */
  /* border-radius: 7px; */
  /* margin: 1px; */

  
/* } */

.kerning {
  letter-spacing: .25em;
}

.word-space {
  word-spacing: .6em
}

.centered {
  text-align: center
}

/* .rmarg {
  margin-top: 2px;
} */


/* .cbox {
  /* background-color: black; */
  /* border: 1px solid white; */
  /* border-radius: 7px; */
  /* margin-top: 10px; */
/* } */ 

/* .cbox2 {
  background-color: beige;
  border: 2px, solid, black;
  border-radius: 7px;

  
} */

#overview {
  font-family: Georgia, 'Times New Roman', Times, serif;
  /* font-weight: bold; */
  height: 400px;
  overflow: scroll;
}

#cast {
  height: 300px;
  overflow: scroll;
}






#recommended {
  height: 250px;
}

